<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="admin/common/head :: head"></head>
<link th:href="@{/AdminLTE/mycss/mycss.css}" rel="stylesheet" type="text/css" />


<body class="skin-blue">
<!-- header logo: style can be found in header.less 头部 -->


<div th:replace="admin/common/headnav ::headnav"></div>


<div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar 左布局-->
    <aside class="left-side sidebar-offcanvas">
        <!-- sidebar: style can be found in sidebar.less -->
        <div th:replace="admin/common/nav :: nav"></div>
        <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                管理员管理
                <small>控制面板</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home首页</a></li>
                <li class="active">管理员修改密码</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content" >
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group">
                            <div class="list-group-item">
                                <ul class="nav nav-pills">
                                    <li class="active">
                                        <a href="#"></span>全部评论</a>
                                    </li>
                                    <li>
                                        <a href="#"></span>我的评论</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-group-item" th:each="courseCommentDto:${courseCommentDtoPage.content}">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img alt="140x140" th:src="@{${courseCommentDto.user.userIcon} == null ? '/AdminLTE/img/avatar3.png' : ${courseCommentDto.user.userIcon} } " class="img-circle imgs"/>
                                    </div>
                                    <div class="col-md-9">
                                        <p th:text="${courseCommentDto.user.userNickname}"></p>
                                        <p th:text="${courseCommentDto.userContent}"></p>
                                    </div>
                                    <div class="col-md-2">
                                        <p th:text="${courseCommentDto.createtime}"></p>
                                        <p class="text-muted glyphicon glyphicon-envelope" id="xinxi" onclick="show(this)">回复</p>
                                    </div>
                                </div>
                                <div class="row"  th:if="${ courseCommentDto.adminContent ne null}" >
                                    <div class="col-md-9 col-md-offset-1  quxiapadding beijing" >
                                        <h5  th:text="${'老师回复:'+courseCommentDto.adminContent}"><h5>
                                        <h5><small th:text="${'---'+courseCommentDto.admin.adminName}"></small></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-11 col-md-offset-1 textdiv" style="display: none;">
                                        <form method="post" th:action="@{/byadmin/coursecomment/update}">
                                        <input type="hidden" th:value="${currentPage}" name="page">
                                        <input type="hidden" th:value="${courseCommentDto.ccId}" name="ccId">
                                        <textarea name="adminContent" class="form-control textma" rows="3" th:placeholder="${'回复:'+courseCommentDto.user.userNickname}"></textarea>
                                        <button   type="submit" class="btn btn-default btn-info">提交</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item  center">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-4 margin-right-0 padding-0">
                                        <ul class="pagination  padding-0 margin-0">
                                            <li th:class="${currentPage le 1} ? 'disabled':''"><a th:href="${currentPage le 1} ?'#':@{/byadmin/coursecomment/list(page=${currentPage - 1})}">上一页</a></li>
                                            <li><a href="#" th:text="${currentPage+'/'+TotalPage}">0</a></li>
                                            <li th:class="${currentPage ge TotalPage} ? 'disabled':''"><a th:href="${currentPage ge TotalPage} ? '#':@{/byadmin/coursecomment/list(page=${currentPage + 1})}">下一页</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-2" style="text-align: left;">
                                        <form class="form-inline margin-0" role="form" th:action="@{/byadmin/coursecomment/list}" onsubmit="return check()">
                                            <div class="form-group">
                                                <label class="sr-only" for="page">名称</label>
                                                <input type="text" class="form-control" id="page"
                                                       style="width: 50px;" name="page" >
                                            </div>
                                            <button type="submit" class="btn btn-default">跳转</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
</div><!-- ./wrapper -->
<script th:src="@{/AdminLTE/layer/layer.js}" type="text/javascript"  ></script>
<script type="text/javascript">
    function show(obj,str){
        var ul = $(obj).parents("div").parents("div").parents("div").children(".row").children(".textdiv");
        var text = ul.children("textarea");
        text.attr("placeholder",str);
        if( ul.css("display")=="block"){
            ul.css("display","none");
        }else{
            ul.css("display","block");
        }
    }

    function check(){
        var page = $("#page").val();

        if(page == null || page == ""){
            layer.msg("<p style='color:black'>" + "不能为空,请重新输入!" + "</p>", {time: 3000, icon: 5, shift: 6}, function () {
                page.val("");
                page.focus();
                //return false ;  //不能结束if,只是结束msg函数.
            });
            return false;
        }else if(page<1){
            layer.msg("<p style='color:black'>" + "不能小于1,请重新输入!" + "</p>", {time: 3000, icon: 5, shift: 6}, function () {
                page.val("");
                page.focus();
                //return false ;  //不能结束if,只是结束msg函数.
            });
            return false;
        }else if(page>[[${TotalPage}]]){
            layer.msg("<p style='color:black'>" + "不能大于最大页数,请重新输入!" + "</p>", {time: 3000, icon: 5, shift: 6}, function () {
                page.val("");
                page.focus();
                //return false ;  //不能结束if,只是结束msg函数.
            });
            return false;
        }else if(page>=1&&page<=[[${TotalPage}]]){
            return true;
        } else {
            return false;
        }
    }



</script>

</body>
</html>