<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdkm.dao.HomeLabelMapper">

    <select id="byIdAll" resultType="INTEGER"  >
        SELECT
          label_id
        FROM
        home_label
    </select>
</mapper>
